In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:/Users/User/AppData/Local/Packages/Microsoft.MicrosoftEdge_8wekyb3d8bbwe/TempState/Downloads/flights (1).csv')

In [4]:
df

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,N14228,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,N24211,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,N619AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,N668DN,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,N39463,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,N947DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,N173DZ,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,N17233,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,N3DBAA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,N14228,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,N24211,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,N619AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,N668DN,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,N39463,1696.0,EWR,ORD,150.0,719.0,5.0,54.0

In [6]:
df.tail()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
153336,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,N947DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,N173DZ,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,N17233,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,N3DBAA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.shape

(153341, 16)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153341 entries, 0 to 153340
Data columns (total 16 columns):
year         153341 non-null int64
month        153340 non-null float64
day          153340 non-null float64
dep_time     151040 non-null float64
dep_delay    151040 non-null float64
arr_time     150900 non-null float64
arr_delay    150571 non-null float64
carrier      153340 non-null object
tailnum      151931 non-null object
flight       153340 non-null float64
origin       153340 non-null object
dest         153340 non-null object
air_time     150571 non-null float64
distance     153340 non-null float64
hour         151040 non-null float64
minute       151040 non-null float64
dtypes: float64(11), int64(1), object(4)
memory usage: 18.7+ MB

In [9]:
df['carrier']

0          UA
1          UA
2          AA
3          DL
4          UA
         ...
153336     DL
153337     DL
153338     UA
153339     AA
153340    NaN
Name: carrier, Length: 153341, dtype: object

In [11]:
df[['origin', 'dest']]

       origin dest
0         EWR  IAH
1         LGA  IAH
2         JFK  MIA
3         LGA  ATL
4         EWR  ORD
...       ...  ...
153336    JFK  MIA
153337    JFK  ATL
153338    EWR  LAX
153339    EWR  LAX
153340    NaN  NaN

[153341 rows x 2 columns]

In [12]:
df.columns

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'carrier', 'tailnum', 'flight', 'origin', 'dest',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')

In [13]:
df.iloc[4]

year           2013
month             1
day               1
dep_time        554
dep_delay        -4
arr_time        740
arr_delay        12
carrier          UA
tailnum      N39463
flight         1696
origin          EWR
dest            ORD
air_time        150
distance        719
hour              5
minute           54
Name: 4, dtype: object

In [15]:
df.iloc[[3, 4]]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
3,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,N668DN,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,N39463,1696.0,EWR,ORD,150.0,719.0,5.0,54.0

In [16]:
df.iloc[[1, 4]]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,N24211,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
4,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,N39463,1696.0,EWR,ORD,150.0,719.0,5.0,54.0

In [17]:
df.loc[2]

year           2013
month             1
day               1
dep_time        542
dep_delay         2
arr_time        923
arr_delay        33
carrier          AA
tailnum      N619AA
flight         1141
origin          JFK
dest            MIA
air_time        160
distance       1089
hour              5
minute           42
Name: 2, dtype: object

In [18]:
df.loc[[1, 4]]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,N24211,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
4,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,N39463,1696.0,EWR,ORD,150.0,719.0,5.0,54.0

In [20]:
df.set_index('tailnum', inplace=True)

In [21]:
df

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute
tailnum,,,,,,,,,,,,,,,
N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.reset_index(inplace=True)

In [23]:
df

,tailnum,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
index_col='Num'

In [25]:
df

,tailnum,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.columns= [x.upper() for x in df.columns]
df

,TAILNUM,YEAR,MONTH,DAY,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CARRIER,FLIGHT,ORIGIN,DEST,AIR_TIME,DISTANCE,HOUR,MINUTE
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df

,TAILNUM,YEAR,MONTH,DAY,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CARRIER,FLIGHT,ORIGIN,DEST,AIR_TIME,DISTANCE,HOUR,MINUTE
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.columns= [x.lower() for x in df.columns]

In [29]:
df

,tailnum,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.columns= df.columns.str.replace('_','-')
df

,tailnum,year,month,day,dep-time,dep-delay,arr-time,arr-delay,carrier,flight,origin,dest,air-time,distance,hour,minute
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.columns= df.columns.str.replace('-', '_')
df

,tailnum,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.rename(columns= {'origin': 'start', 'dest': 'end'})

,tailnum,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,start,end,air_time,distance,hour,minute
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df

,tailnum,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.loc[2]

tailnum      N619AA
year           2013
month             1
day               1
dep_time        542
dep_delay         2
arr_time        923
arr_delay        33
carrier          AA
flight         1141
origin          JFK
dest            MIA
air_time        160
distance       1089
hour              5
minute           42
Name: 2, dtype: object

In [35]:
df.loc[2, ['origin', 'dest']]

origin    JFK
dest      MIA
Name: 2, dtype: object

In [36]:
df.loc[2, ['origin']]='LHR'

In [37]:
df

,tailnum,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,LHR,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df.loc[2,['origin']]= 'JFK'
df

,tailnum,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute
0,N14228,2013,1.0,1.0,517.0,2.0,830.0,11.0,UA,1545.0,EWR,IAH,227.0,1400.0,5.0,17.0
1,N24211,2013,1.0,1.0,533.0,4.0,850.0,20.0,UA,1714.0,LGA,IAH,227.0,1416.0,5.0,33.0
2,N619AA,2013,1.0,1.0,542.0,2.0,923.0,33.0,AA,1141.0,JFK,MIA,160.0,1089.0,5.0,42.0
3,N668DN,2013,1.0,1.0,554.0,-6.0,812.0,-25.0,DL,461.0,LGA,ATL,116.0,762.0,5.0,54.0
4,N39463,2013,1.0,1.0,554.0,-4.0,740.0,12.0,UA,1696.0,EWR,ORD,150.0,719.0,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153336,N947DL,2013,9.0,13.0,1835.0,15.0,2153.0,8.0,DL,83.0,JFK,MIA,147.0,1089.0,18.0,35.0
153337,N173DZ,2013,9.0,13.0,1839.0,-1.0,2052.0,-24.0,DL,87.0,JFK,ATL,105.0,760.0,18.0,39.0
153338,N17233,2013,9.0,13.0,1840.0,11.0,2204.0,21.0,UA,1526.0,EWR,LAX,331.0,2454.0,18.0,40.0
153339,N3DBAA,2013,9.0,13.0,1841.0,-9.0,2214.0,14.0,AA,119.0,EWR,LAX,323.0,2454.0,18.0,41.0
153340,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN